#usernameLabel
{
	-fx-font-size: 18px;
}

#passwordLabel
{
	-fx-font-size: 18px;
}

#loginSubmit
{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-alignment: center;
}

#backToWelcome
{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-alignment: center;
}

#errorSubmit
{
	-fx-font-size: 16px;
	-fx-alignment: center;
}