.welcomeMessagePane
{
	-fx-background-color: white;
	-fx-alignment: center;
}

#helloLabel
{
	-fx-background-color: white;
	-fx-font-size: 18px;
	-fx-alignment: center;
}

#loginButton
{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-alignment: center;
}

#signUpButton
{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-alignment: center;
}

#signupLabel
{
	-fx-background-color: white;
	-fx-font-size: 18px;
	-fx-alignment: center;
}

#loginLabel
{
	-fx-background-color: white;
	-fx-font-size: 18px;
	-fx-alignment: center;
}